<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= post.body %>
  </p>

  <p>
    <strong>Views:</strong>
    <%= post.views %>
  </p>
</div>
